@model AllModels
<h2>Add a Donut</h2>
<form action="addDonut" method="post">
    <div class="form-group">
        <label for="Name">Donut Name</label>
        <input class="form-control" type="text" name="Name">
    </div>
    <label for="isFilled">Is filled</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="isFilled" value="true">
        <label class="form-check-label" for="isFilled">Yes</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="isFilled" value="false">
        <label class="form-check-label" for="isFilled">No</label>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
<hr>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Is Filled</th>
    </tr>
    @{
        foreach(Donut d in Model.AllDonuts)
        {
            <tr>
                <td>@d.Name</td>
                <td>@d.isFilled</td>
            </tr>
        }
    }
</table>