@model List<Octopus>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Octopi</h1>
    <ul>
        @foreach(Octopus oct in Model){
            <li><a href="octopus/@oct.OctopusId">@oct.Name</a></li>
        }
    </ul>
    <a href="octopus/new" class="btn btn-outline-primary">Create new octopus</a>
    <a href="tentacle/new" class="btn btn-outline-success">Create new tentacle</a>
</body>
</html>
