<div class="text-center">
    <h1 class="display-4">Welcome to Dreamland</h1>
    <h4>
        Fullness: 0
        Happiness: 0
        Meals: 0
        Energy: 0
    </h4>
    <br>
    <br>
    <i class="nes-kirby"></i>
    <br>
    <br>
    <h4>@ViewBag.Reaction</h4>
    <br>
    <a href="/" class="nes-btn is-primary">Reset</a>
</div>